*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--light-background-color: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
--Neutral-900:hsl(227, 75%, 14%);
 --Neutral-700: hsl(225, 23%, 24%);
--Neutral-600: hsl(226, 11%, 37%);
--Neutral-300: hsl(0, 0%, 78%);
--Neutral-200: hsl(217, 61%, 90%);
--Neutral-100: hsl(0, 0%, 93%);
--Neutral-0: hsl(200, 60%, 99%);
--Red-400: hsl(3, 86%, 64%);
--Red-500: hsl(3, 71%, 56%);
--Red-700:hsl(3, 77%, 44%);
}



html{
    font-size: 62.5%;

}

:root[data-theme="light"]{
 --background-color:linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);   
--logo-section-background:hsl(200, 60%, 99%);
--extension-btn-bgc:hsl(200,60%,99%);
--extension-bgc:hsl(200,60%,99%);
--logo-section-box-shadow:4px 1px 4px hsl(217, 61%, 90%);
--extension-box-shadow: 4px 1px 4px hsl(217, 61%, 90%); 
--heading-text-color:hsl(227, 75%, 14%);
--text-color:hsl(200, 60%, 99%);
--btn-text-color:hsl(227, 75%, 14%);
--btn-background-color:hsl(200,60%,99%);
--toggle-btn-background-color: hsl(0, 0%, 93%);
--border:none;
}
:root[data-theme="dark"]{
--background-color:linear-gradient(180deg, #040918 0%, #091540 100%);
--logo-section-background: hsl(225, 23%, 24%);
--extension-btn-bgc:hsl(225,23%,24%);
--extension-bgc:hsl(225, 23%, 24%);
--logo-section-box-shadow:none;
--extension-box-shadow: none;
--heading-text-color:hsl(200, 60%, 99%);
---text-color:hsl(0, 0%, 78%);
--btn-text-color:hsl(0, 0%, 93%);;
--btn-background-color:hsl(225, 23%, 24%);
--toggle-btn-background-color:hsl(226, 11%, 37%);
--border:0.1rem solid hsl(226, 11%, 37%);
}




@font-face {
    font-family: "Noto Sans";
    src: url(https://fonts.google.com/noto/specimen/Noto+Sans);
    font-weight: 400 700;
}
body{
background:var(--background-color);
font-family:"Noto Sans",sans-serif;


}
.extensions-container{
padding: 2px;
min-width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 9px;

margin-bottom: 20px;
min-height: 100%;
margin: 2px auto;
width: 50rem;


}
.image-contanier{
    position: relative;
}
.dark-extension-logo-text{
    font-size: 2.6rem;
    position: absolute;
    top:50%;
    left:50%;
    font-weight: 700;
transform: translate(-30%,-50%);
color:var(--heading-text-color) ;
background-color:var(--extension-bgc) ;
}




.main-container{
   min-height: 100vh;
    padding: 4rem 9rem;
 margin: 1px auto;
max-width: 100vw;


}
.header{

margin: 0 auto;
margin: auto;
}

.logo-section{

   padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
 border-radius: 13px;   
 background-color: var(--logo-section-background);
 box-shadow: var(--extension-box-shadow);
}
.extension-logo{
color:white;

}

.extension-list-heading{
color: var(--heading-text-color);
    font-weight: 700;

}

.theme-swithcher-btn{
    width: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
background-color: var(--btn-background-color);
}
.theme-swithcher-btn:hover{
    background-color: var(--Neutral-300);
}
.theme-swithcher-btn:focus{
border: none;
outline: 1.6px solid hsl(3, 71%, 56%);
}
.extesnio-list{

    width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin: 3rem 0 2rem 0;
}
.extension-btn-container{
    display: flex;

justify-content: space-evenly;
min-width:4rem;
width: 28rem;

align-items:center ;

}
.extension-btn{
    margin-right: 8px;
 border: none;   
 display: block;
 border-radius: 15px;
 padding: 10px;
 background-color: var(--extension-btn-bgc);
cursor: pointer;
color: var(--btn-text-color);
text-align: center;
line-height: 1.2rem;
height: 38px;
transition: all 0.1s linear;
width: 200px;
}
.extension-btn.current-btn{
    background-color: var(--Red-700);
    color: var(--Neutral-0);
    
}


.extension-btn.current-btn:hover{
     background-color: var(--Red-400);
}

.extension-btn:focus{
     outline: 2px solid var(--Red-400);
}
.extension-btn:hover{
    background-color:var(--Neutral-10) ;
}
.extension-list-heading{
    text-align: center;
    font-size: 2.6rem;

}


.extension{
    box-shadow: var(--extension-box-shadow); 
    
    width: 100%;
    font-size:1.6rem;
    padding: 1.2rem;
    background-color: var(--extension-bgc);
    border-radius: 13px;
border: var(--border);
    height: 19rem;

margin: auto;
}

.extensions-heading{
    margin-bottom: 6px;
    color: var(--heading-text-color);
    font-weight: 700;
}

.image-text-container{
    display: flex;
    gap: 15px;
    min-height: 90px;
    
}
.extension-text{
    font-weight: 400;
    color: var(---text-color);
    font-size: 1.3rem;
    max-height: 38px;
}

.logo-image{
    margin-top: 12px;
    display: block;
    
}
.btn-and-input-container{
    
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 0;
margin-top: 50px;
}
.extesnions-heading-and-text{
    margin-top: 14px;
}
.remove-btn{
    background-color: var(---Neutral-0);
    border-radius: 15px;
    width: 83px;
border: 1px solid var(--Neutral-300);
color: var(--btn-text-color);
padding: 5px;
cursor: pointer;

}

.remove-btn:hover{
    background-color: var(--Red-700);
color: var(--Neutral-0);

}
.remove-btn:focus{
    outline: 1px solid var(--Red-400);
    
}

.on-and-of-extension-btn{
   
    border-radius: 12px;
    width: 4.5rem;

height: 2rem;
position: relative;
cursor: pointer;
display: block;
border: none;
outline: none;
}
.on-and-of-extension-btn.false{
      background-color: var(--toggle-btn-background-color); 
}
.on-and-of-extension-btn.true{
    background-color: var(--Red-700); 
}

.on-and-of-extension-btn:focus{
    border: 2px solid var(--Red-700);
}
.on-and-of-extension-btn.true:hover{
 background-color: var(--Red-400);

}

.toggle-background{
    display: block;
    position: absolute;
    background-color: var(--Neutral-0);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top:2px;
    left: 1.7px;
    transition: all 0.2s ease-in-out;
}

.on-and-of-extension-btn:not(.on-and-of-extension-btn.true) .toggle-background{
      left: calc(4.5rem - 17px);
}
@media  (max-width:640px) {
.extensions-container{
grid-template-columns: 33rem;
align-items: center;
justify-content: center;
padding: 0px;
width: 100%;

    }
    .main-container{
padding: 0;
overflow: hidden;
    }

.header{
  width: 100%;
padding: 6px;
}
.extesnio-list{
    margin:auto;
    
    width: 100%;
    min-width: none;
    margin: 3rem 0 2rem 0;
    display: grid;
grid-template-rows: 1fr 1fr;
   justify-content: center;
    gap:10px;
    align-items: center;
}

}
@media (min-width:640px ) and (max-width:1024px){
    .extensions-container{
grid-template-columns: 1fr 1fr;
align-items: center;
justify-content: center;
padding: 0px;
width: 100%;

    }
}